{% extends "@MyAppUser/layout.html.twig" %}
{% block video  %}
{% block content %}


<h1>rechercher hotel  par nom ou ville </h1>


    <form method="GET">

        nom : <input type="text" name="nom">


        <input type="submit" value="rechercher">
    </form>



{% endblock content %}

{% endblock video %}